.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 126px;
}

.timer {
  position: relative;
}

.circle {
  position: relative;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: var(--bg-white);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.svg {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
  width: 5rem;
  height: 5rem;
}

.circleBackground {
  fill: none;
  stroke: var(--bg-white);
}

.circleProgress {
  fill: none;
  stroke: var(--bg-timer);
  stroke-width: 8;
  stroke-dasharray: 226.19;
  stroke-dashoffset: 226.19;
  transition: stroke-dashoffset 0.5s ease 0s;
  stroke-linecap: round;
}

.time {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  color: var(--bg-timer);
  line-height: 1.5rem;
}

.timerEnd {
  color: red;
}
